<div class="jumbotron bg-white text-center ">
  <h1 class="display-3"> Covid-19 Tracker</h1>
  <hr class="my-4">
  <app-dashboard-card
   [caseActive]="caseActive"
   [caseConfirmed]="caseConfirmed"
   [caseDeaths]="caseDeaths"
   [caseRecovered]="caseRecovered"
   ></app-dashboard-card>

</div>
<hr class="my-4">
<div class="container">
  <div class="ui form">
    <div class="inline fields">
      <label for="caseType">Select Cases Type</label>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="caseType" id="c" value="c" #c (click)="updateValue(c)" checked=""  class="hidden">
          <label for="c">Confirmed</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="caseType" id="a" value="a" #a (click)="updateValue(a)"  class="hidden">
          <label for="a">Active</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="caseType" id="r" #r (click)="updateValue(r)" value="r"  class="hidden">
          <label for="r">Recovered</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="caseType" id="d" #d (click)="updateValue(d)" value="d" tabindex="0" class="hidden">
          <label for="d">Deaths</label>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="row">
  <div class="col">
    <google-chart [type]="chart.PieChart" [data]="dataTable" [height]="chart.height" [options]="chart.options" style="width: 100%;"></google-chart>

  </div>
  <div class="col">
    <google-chart [type]="chart.ColumnChart" [data]="dataTable" [height]="chart.height"  [options]="chart.options" style="width: 100%;"></google-chart>
  </div>
  <div class="col">
    <google-chart [type]="chart.LineChart" [data]="dataTable" [height]="chart.height"  [options]="chart.options" style="width: 100%;"></google-chart>
  </div>
</div>


